version: "3"
services:
  client:
    build: ./client
    ports:
      - "3001:3000"
    volumes:
            - ./client/:/client/
    environment:
           CHOKIDAR_USEPOLLING: "true"
  server:
    build: ./server
    ports:
      - "5000:5000"
    volumes:
            - ./server/:/server/
  db:
    image: postgres:13.3
    restart: always
    ports:
            - "5433:5432"
    environment:
            POSTGRES_PASSWORD: ${DBPASSWORD} 
    volumes:
            - ./database-data:/var/lib/postgresql/data
